.container
  //Main hero unit for a primary marketing message or call to action 
  .row
    .span12.hidden-phone
      #myCarousel.carousel.slide
        .carousel-inner
          .item
            img(src='img/slide1.jpg', alt='')
          .item
            img(src='img/slide2.jpg', alt='')
          .item.active
            img(src='img/slide3.jpg', alt='')
        a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
        a.right.carousel-control(href='#myCarousel', data-slide='next') ›

  .row.landingSlogan
    .span12
      h2 Put your slogan here. This is the perfect place to put some eye catching text. It is also great for SEO!


  .row
    .span1
      img(src='img/icon-response.png')
    .span3
      h3 Responsive Grid Layout
      p
        | No matter what screen you are viewing this template on it will adjust. You can add videos, images and forms, they are all responsive.
    .span1
      img(src='img/icon-custom.png')
    .span3
      h3 Customization
      p
        | It's a breeze to customize anything on this template. We made the code clean and simple so you can tweak to your hearts content.
    .span1
      img(src='img/icon-support.png')
    .span3
      h3 Continued Support
      p
        | We are here for you. Have a question? Go ahead and ask us and we will help you find the answer.
