<body>



	<!-- Header Layout
	================================================== -->
<div class="static">
	
	<div id="header">
        <div class="container">
        	<div class="one-third column">
            	<img src="img/logo.png">
    		</div>
            
            <div class="one-third column offset-by-five">
            	<h1 class="pull-right" id="contact">Call:1800 MY NUM</h1>
    		</div>
        </div><!-- container -->
	</div>
	
	<!-- Header Layout Ending
	================================================== -->
    
    <!-- Intro Layout
	================================================== -->

	
	<div id="intro">
        <div class="container">
        	<div class="eight columns alpha" id="introtext">
           
        <h1>MYNTRA! Beautiful &amp; Elegant Responsive Landing Page.</h1>
       <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
       <br><br><br>
       <button class="btn btn-success btn-large" href="#">Get a Free 30-Day Trial Now!</button>
        	</div>
          
            <div class="eight columns omega">
            <!-- <img src="http://placehold.it/450x281" alt=""  id="vid"  >-->
        	<iframe src="http://player.vimeo.com/video/25451551" width="450" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="vid"></iframe>
        	</div>
        </div><!-- container -->
	</div>
</div>
	<!-- Intro Layout Ending
	====
    
    <!-- Newsletter Layout
	================================================== -->
    

    	 <div class="container">
         	<div class="well" id="newsletter">
           
                <h1>To stay updated subscibe to our newsletter.</h1>
  							
  	
  				<button type="submit" class="btn btn-primary btn-large pull-right" data-toggle="modal" href="#myModal">Click Here</button>
          </div>
         </div>
    
    
 <div class="modal fade" id="myModal">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h1>Wow!!! Here's a modal window.</h1>
          </div>
              <div class="modal-body">
              		<form class="form-inline">
                      <label>Enter Your Full Name</label>
                      <input type="text" class="span3" placeholder="Type something…">
                      
                      <button type="submit" class="btn btn-info">Submit</button>
                      
                      <span class="help-block">Press ESC or x to close</span>
                    </form>
              </div>
      <div class="modal-footer">
       
      </div>
</div>
     
    <!-- Newsletter Layout Ending
	================================================== -->
    
    
     <!-- Features Layout
	================================================== -->
     <div class="container">
         	
          		<div class="four columns">
            		<img src="img/icon1.png" class="pull-left"><h2 class="feature">Customisation</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    			</div>
                <div class="four columns">
            	<img src="img/icon2.png" class="pull-left"><h2 class="feature">Responsive</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    			</div>
            <div class="four columns">
            	<img src="img/icon3.png" class="pull-left"><h2 class="feature">Minimal</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    		</div>
         
            <div class="four columns">
            		<img src="img/icon4.png" class="pull-left"><h2 class="feature">Cross Browser</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    			</div>
                
                <div class="clear"></div>
                <div class="four columns">
            	<img src="img/icon5.png" class="pull-left"><h2 class="feature">Modern UI</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    			</div>
            <div class="four columns">
            	<img src="img/icon7.png" class="pull-left"><h2 class="feature">Support</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    		</div>
            <div class="four columns">
            	<img src="img/icon8.png" class="pull-left"><h2 class="feature">Docs</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    		</div>
            <div class="four columns">
            	<img src="img/icon6.png" class="pull-left"><h2 class="feature">Love This</h2>
                   <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    		</div>
            
              
        
         </div>
    
     <!-- Features Layout Ending
	================================================== -->
	   <!-- Elements Layout
	================================================== -->
    <br><br><br>
    <div class="container">
    	<div class="eight columns alpha">
    		<h1>Screenshots</h1>
            
            <ul class="thumbnails">
        <li class="span4">
          <a href="http://placehold.it/260x168" class="thumbnail">
            <img src="http://placehold.it/268x168" alt="" rel="tooltip" class="tooltips" data-original-title="Click To See LightBox">
          </a>
        </li>
        <li class="span2">
          <a href="http://placehold.it/260x168" class="thumbnail">
            <img src="http://placehold.it/120x70" alt="" rel="tooltip" class="tooltips" data-original-title="Click To See LightBox">
          </a>
        </li>
         <li class="span2">
          <a href="http://placehold.it/260x168" class="thumbnail">
            <img src="http://placehold.it/120x70" alt="" rel="tooltip" class="tooltips" data-original-title="Click To See LightBox">
          </a>
        </li>
         <li class="span2">
          <a href="http://placehold.it/260x168" class="thumbnail">
            <img src="http://placehold.it/120x70" alt="" rel="tooltip" class="tooltips" data-original-title="Click To See LightBox">
          </a>
        </li>
         <li class="span2">
          <a href="http://placehold.it/260x168" class="thumbnail">
            <img src="http://placehold.it/120x70" alt="" rel="tooltip" class="tooltips" data-original-title="Click To See LightBox">
          </a>
        </li>
         <li class="span2">
          <a href="http://placehold.it/260x168" class="thumbnail" data-toggle="modal">
            <img src="http://placehold.it/120x70" alt="" rel="tooltip" class="tooltips" data-original-title="Click To See LightBox">
          </a>
        </li>
        
      </ul>
            
        </div>
        
        
        
        
        
        <div class="eight columns omega">
    		<h1>FAQ's</h1>
           	<div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Collapsible Group Item #1
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.               </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Collapsible Group Item #2
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  Collapsible Group Item #3
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
            </div>
          </div>
 		
           
    	</div>
    
    
    
    
    
    </div>
       <!-- Elements Layout Ending
	================================================== -->
    
     <!-- Plugins Layout Ending
	================================================== -->
    <div class="container">
      <br><br><br>
    	<div class="four columns alpha">
    		<h1>Shortcodes</h1>
            <br><br>
            <a href="#" rel="tooltip" class="tooltips" data-original-title="A Cool Tooltip">Hover This To Check!!</a>
            <br><br><br>
             <a href="#" class="btn btn-danger popovers" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">Hover For PopOver</a>
            
             <br><br><br>
            <div class="alert fade in">
                <button class="close" data-dismiss="alert">×</button>
                <strong>Hey There!!!</strong> Check this out. Its a real cool notification.
            </div>
             
    	</div><!---Col Ending-->
        
        <div class="four columns">
    		<h1>Buttons</h1>
            <br><br>
              <a class="btn btn-info pad" href="#">Info Button</a><br>
           		<a class="btn pad" href="#">Simple Button</a><br>
                <a class="btn btn-primary pad" href="#">Primary Button</a><br>
              
                <a class="btn btn-success pad" href="#">Success Button</a>
                <a class="btn btn-warning pad" href="#">Warning Buttons</a><br>
                <a class="btn btn-danger pad" href="#">Danger Buttons</a>
                <a class="btn btn-inverse pad" href="#">Inverse Buttons</a>
             
    	</div><!---Col Ending-->
        
        <div class="eight columns omega">
    		<h1>Slider</h1>
            <br><br>
           		 <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="http://placehold.it/500x265" alt="">
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                </div>
              </div>
              <div class="item">
                <img src="http://placehold.it/500x265" alt="">
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                </div>
              </div>
              <div class="item">
                <img src="http://placehold.it/500x265" alt="">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
             
    	</div><!---Col Ending-->
        
        
    </div><!---Container Ending-->
    
      <br><br>  <br>
     <!-- Plugins Layout Ending
	================================================== -->
   
    <!-- Team Layout 
	================================================== -->
    
    <div class="container">
    	<div class="eight columns alpha">
        <h1>Our Team</h1> <br>
    	<img src="http://placehold.it/100x100" alt="" class="roundimg popovers" rel="popover" data-content="A brief info about john doe" data-original-title="John Doe">
        <img src="http://placehold.it/100x100" alt="" class="roundimg popovers" rel="popover" data-content="A brief info about john doe" data-original-title="John Doe">
        <img src="http://placehold.it/100x100" alt="" class="roundimg popovers" rel="popover" data-content="A brief info about john doe" data-original-title="John Doe">
       
        
       
       	<p></p>
        </div>
        
        <div class="eight columns omega">
        	<h1>Clients Testimonials</h1> <br>
    		<blockquote>
         <p>  Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.</p> <small>Someone famous</small>
            </blockquote> 
            
            <blockquote>
         <p>  Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.</p> <small>Someone famous</small>
            </blockquote> 
           
				
			</div>
        </div>
        
    
    <!-- Team Layout Starting
	================================================== -->
     <br><br>  <br>
       <!-- Footer Layout
	================================================== -->
 <footer>
    	<div class="container">
        	<div class="eight columns"><p>All rights reserved. 2012 © Curious Designs</p></div> 
            <div class="eight columns">
                <div class="social-networking-icons">
                    <a href="http://www.facebook.com/" target="_blank" class="facebook tooltips" rel="tooltip" data-original-title="Facebook">Facebook</a>
                    <a href="http://www.twitter.com/" target="_blank" class="twitter tooltips" rel="tooltip" data-original-title="Twitter">Twitter</a>
                    <a href="http://dribbble.com/" target="_blank" class="dribbble tooltips" rel="tooltip" data-original-title="Dribble">Dribbble</a>
                
                    <a href="http://forrst.com" target="_blank" class="forrst tooltips" rel="tooltip" data-original-title="Forrst">Forrst</a>
    
                    <a href="http://vimeo.com" target="_blank" class="vimeo tooltips" rel="tooltip" data-original-title="Vimeo">Vimeo</a>
    
                    <a href="http://youtube.com" target="_blank" class="youtube tooltips" rel="tooltip" data-original-title="Youtube">Youtube</a>
    
                    <a href="http://linkedin.com" target="_blank" class="linkedin tooltips" rel="tooltip" data-original-title="Linkedin">linkedin</a>
    
                    <a href="http://www.tumblr.com" target="_blank" class="tumblr tooltips" rel="tooltip" data-original-title="Tumblr">Tumblr</a>
    
                </div>
            </div>
        </div>
    </footer>
   
       <!-- Footer Layout Ending
	================================================== -->
    
    
	<!-- JS
	================================================== -->
	 <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	 <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.lightbox.js"></script>	
      <script type="text/javascript" src="js/script.js"></script>
	
<!-- End Document
================================================== -->

</body>