body
  //
     Header Layout
    	================================================== 
  .static
    #header
      .container
        .one-third.column
          img(src='img/logo.png')
        .one-third.column.offset-by-five
          h1#contact.pull-right Call:1800 MY NUM
      //
         container 
    //
       Header Layout Ending
      	================================================== 
    //
       Intro Layout
      	================================================== 
    #intro
      .container
        #introtext.eight.columns.alpha
          h1 MYNTRA! Beautiful & Elegant Responsive Landing Page.
          p
            | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          br
          br
          br
          button.btn.btn-success.btn-large(href='#') Get a Free 30-Day Trial Now!
        .eight.columns.omega
          //
             <img src="http://placehold.it/450x281" alt=""  id="vid"  >
          iframe#vid(src='http://player.vimeo.com/video/25451551', width='450', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      //
         container 
  //
     Intro Layout Ending
    	====
        
        <!-- Newsletter Layout
    	================================================== 
  .container
    #newsletter.well
      h1 To stay updated subscibe to our newsletter.
      button.btn.btn-primary.btn-large.pull-right(type='submit', data-toggle='modal', href='#myModal') Click Here
  #myModal.modal.fade
    .modal-header
      button.close(data-dismiss='modal') ×
      h1 Wow!!! Here's a modal window.
    .modal-body
      form.form-inline
        label Enter Your Full Name
        input.span3(type='text', placeholder='Type something…')
        button.btn.btn-info(type='submit') Submit
        span.help-block Press ESC or x to close
    .modal-footer
  //
     Newsletter Layout Ending
    	================================================== 
  //
     Features Layout
    	================================================== 
  .container
    .four.columns
      img.pull-left(src='img/icon1.png')
      h2.feature Customisation
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    .four.columns
      img.pull-left(src='img/icon2.png')
      h2.feature Responsive
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    .four.columns
      img.pull-left(src='img/icon3.png')
      h2.feature Minimal
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    .four.columns
      img.pull-left(src='img/icon4.png')
      h2.feature Cross Browser
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    .clear
    .four.columns
      img.pull-left(src='img/icon5.png')
      h2.feature Modern UI
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    .four.columns
      img.pull-left(src='img/icon7.png')
      h2.feature Support
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    .four.columns
      img.pull-left(src='img/icon8.png')
      h2.feature Docs
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    .four.columns
      img.pull-left(src='img/icon6.png')
      h2.feature Love This
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
  //
     Features Layout Ending
    	================================================== 
  //
     Elements Layout
    	================================================== 
  br
  br
  br
  .container
    .eight.columns.alpha
      h1 Screenshots
      ul.thumbnails
        li.span4
          a.thumbnail(href='http://placehold.it/260x168')
            img.tooltips(src='http://placehold.it/268x168', alt='', rel='tooltip', data-original-title='Click To See LightBox')
        li.span2
          a.thumbnail(href='http://placehold.it/260x168')
            img.tooltips(src='http://placehold.it/120x70', alt='', rel='tooltip', data-original-title='Click To See LightBox')
        li.span2
          a.thumbnail(href='http://placehold.it/260x168')
            img.tooltips(src='http://placehold.it/120x70', alt='', rel='tooltip', data-original-title='Click To See LightBox')
        li.span2
          a.thumbnail(href='http://placehold.it/260x168')
            img.tooltips(src='http://placehold.it/120x70', alt='', rel='tooltip', data-original-title='Click To See LightBox')
        li.span2
          a.thumbnail(href='http://placehold.it/260x168')
            img.tooltips(src='http://placehold.it/120x70', alt='', rel='tooltip', data-original-title='Click To See LightBox')
        li.span2
          a.thumbnail(href='http://placehold.it/260x168', data-toggle='modal')
            img.tooltips(src='http://placehold.it/120x70', alt='', rel='tooltip', data-original-title='Click To See LightBox')
    .eight.columns.omega
      h1 FAQ's
      #accordion2.accordion
        .accordion-group
          .accordion-heading
            a.accordion-toggle.btn(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
              | Collapsible Group Item #1
          #collapseOne.accordion-body.collapse.in
            .accordion-inner
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        .accordion-group
          .accordion-heading
            a.accordion-toggle.btn(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo')
              | Collapsible Group Item #2
          #collapseTwo.accordion-body.collapse
            .accordion-inner
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        .accordion-group
          .accordion-heading
            a.accordion-toggle.btn(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
              | Collapsible Group Item #3
          #collapseThree.accordion-body.collapse
            .accordion-inner
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  //
     Elements Layout Ending
    	================================================== 
  //
     Plugins Layout Ending
    	================================================== 
  .container
    br
    br
    br
    .four.columns.alpha
      h1 Shortcodes
      br
      br
      a.tooltips(href='#', rel='tooltip', data-original-title='A Cool Tooltip') Hover This To Check!!
      br
      br
      br
      a.btn.btn-danger.popovers(href='#', rel='popover', data-content='And here\'s some amazing content. It\'s very engaging. right?', data-original-title='A Title') Hover For PopOver
      br
      br
      br
      .alert.fade.in
        button.close(data-dismiss='alert') ×
        strong Hey There!!!
        | Check this out. Its a real cool notification.
    //
      -Col Ending
    .four.columns
      h1 Buttons
      br
      br
      a.btn.btn-info.pad(href='#') Info Button
      br
      a.btn.pad(href='#') Simple Button
      br
      a.btn.btn-primary.pad(href='#') Primary Button
      br
      a.btn.btn-success.pad(href='#') Success Button
      a.btn.btn-warning.pad(href='#') Warning Buttons
      br
      a.btn.btn-danger.pad(href='#') Danger Buttons
      a.btn.btn-inverse.pad(href='#') Inverse Buttons
    //
      -Col Ending
    .eight.columns.omega
      h1 Slider
      br
      br
      #myCarousel.carousel.slide
        .carousel-inner
          .item.active
            img(src='http://placehold.it/500x265', alt='')
            .carousel-caption
              h4 First Thumbnail label
              p Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
          .item
            img(src='http://placehold.it/500x265', alt='')
            .carousel-caption
              h4 Second Thumbnail label
              p Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
          .item
            img(src='http://placehold.it/500x265', alt='')
            .carousel-caption
              h4 Third Thumbnail label
              p Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
        a.right.carousel-control(href='#myCarousel', data-slide='next') ›
    //
      -Col Ending
  //
    -Container Ending
  br
  br
  br
  //
     Plugins Layout Ending
    	================================================== 
  //
     Team Layout 
    	================================================== 
  .container
    .eight.columns.alpha
      h1 Our Team
      br
      img.roundimg.popovers(src='http://placehold.it/100x100', alt='', rel='popover', data-content='A brief info about john doe', data-original-title='John Doe')
      img.roundimg.popovers(src='http://placehold.it/100x100', alt='', rel='popover', data-content='A brief info about john doe', data-original-title='John Doe')
      img.roundimg.popovers(src='http://placehold.it/100x100', alt='', rel='popover', data-content='A brief info about john doe', data-original-title='John Doe')
      p
    .eight.columns.omega
      h1 Clients Testimonials
      br
      blockquote
        p
          | Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.
        small Someone famous
      blockquote
        p
          | Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.
        small Someone famous
  //
     Team Layout Starting
    	================================================== 
  br
  br
  br
  //
     Footer Layout
    	================================================== 
  footer
    .container
      .eight.columns
        p All rights reserved. 2012 © Curious Designs
      .eight.columns
        .social-networking-icons
          a.facebook.tooltips(href='http://www.facebook.com/', target='_blank', rel='tooltip', data-original-title='Facebook') Facebook
          a.twitter.tooltips(href='http://www.twitter.com/', target='_blank', rel='tooltip', data-original-title='Twitter') Twitter
          a.dribbble.tooltips(href='http://dribbble.com/', target='_blank', rel='tooltip', data-original-title='Dribble') Dribbble
          a.forrst.tooltips(href='http://forrst.com', target='_blank', rel='tooltip', data-original-title='Forrst') Forrst
          a.vimeo.tooltips(href='http://vimeo.com', target='_blank', rel='tooltip', data-original-title='Vimeo') Vimeo
          a.youtube.tooltips(href='http://youtube.com', target='_blank', rel='tooltip', data-original-title='Youtube') Youtube
          a.linkedin.tooltips(href='http://linkedin.com', target='_blank', rel='tooltip', data-original-title='Linkedin') linkedin
          a.tumblr.tooltips(href='http://www.tumblr.com', target='_blank', rel='tooltip', data-original-title='Tumblr') Tumblr
  //
     Footer Layout Ending
    	================================================== 
  //
     JS
    	================================================== 
  script(type='text/javascript', src='js/jquery-1.7.1.min.js')
  script(type='text/javascript', src='js/bootstrap.min.js')
  script(type='text/javascript', src='js/jquery.lightbox.js')
  script(type='text/javascript', src='js/script.js')
  //
     End Document
    ================================================== 
